    <!-- Main content -->

    <div class="row" style="margin-top:150px; margin-bottom: 50px; position:relative;">    
      <div class="col-xs-12 col-sm-8 col-md-6">
        <div class="w3-container center" >
          <div class="w3-card-4  w3-border w3-cell-row" style="width: 500px; z-index: +1; position:relative;background-color: white;" >
            <div class="w3-theme-d5  w3-cell">
              <h2 class="w3-padding w3-opacity">Login</h2><br/>
            </div>
            <div id="loginfo" class="w3-container w3-cell loginfo">
            
                 <br/>
                  <div class="logedout" >
                    <a>{{auth.user_info}}</a>
                    <a>{{auth.username}}</a>
                    <a>{{auth.password}}</a>
                    <a>{{auth.user_info.username}}</a>
                    <a>{{auth.user_info.account_type}}</a>
                    <h5 ng-if="auth.login_invalid" style="color: red">Invalid Login Credentials</h5>
                  </div>
                 <br/>

                <div class="group">      
                    <input ng-model="auth.username" type="text" name="usr_id" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>User Id</label>
                  </div>
                  <div class="group">      
                    <input ng-model="auth.password" type="text" name="pass" required>
                    <span class="highlight"></span>
                    <span class="bar"></span>
                    <label>Password</label>
                  </div>

                  <p>
                  &emsp;<button ng-click="auth.login(auth.username, auth.password)" class="w3-btn w3-right w3-ripple btn w3-hover-green" name="Login" value="Login" style="      border-radius: 0px; "> Login</button>
                </p>
              <br/>

            </div>
          </div>
        </div>
      </div>


    </div>